ul#gameboard {
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 480px;
    background: lightblue;
    display: inline-block;

}
#gameboard li {
    margin-top: 20px;
}

.game-row {
    background: #ddd;
    border: 2px solid black;
    height: 50px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.result-panel {
    background: #556b2f;
    width: 150px;
    height: 52px;
    display: inline-block;
}

.guess {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 14px;
    margin-left: 14px;
    border: 1px solid;
}

#playing-tokens {
    border: 2px solid black;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.guess.red    { background: red;      }
.guess.yellow { background: yellow;   }
.guess.green  { background: green;    }
.guess.blue   { background: blue;     }

.guess.purple { background: purple;   }
.guess.black  { background: black;    }
.guess.orange { background: orange;   }
.guess.brown  { background: #a52a2a;  }

.result-panel {
    color: white;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
}